/* Add style to universal selector */

* {
    border: 1px solid black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Add style to the type selector */

body {
    display: flex;
    flex-direction: column;
}

/* Add style to the class */

.header {}

/* Add style to the class */

.nav {}

/* Add style to the class */

.logo {}

/* Add style to the class */

.nav-right {}

/* Add style to the class */

.link {}