/* Add style to universal selector */

* {
    border: 1px solid black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Add style to the type selector */

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

/* Add style to the class */

.header {
    display: flex;
    background: #1F2937;
    justify-content: center;
    height: 70px;
    align-items: center;
}

/* Add style to the class */

.nav {
    display: flex;
    justify-content: space-between;
    width: 880px;
}

/* Add style to the class */

.logo {   
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

/* Add style to the class */

.nav-right {
    display: flex;
    gap: 10px;
}

/* Add style to the class */

.link-text {
    font-size: 18px;
    color: #e5e7eb;
}

/* Add style to the class */

.content {}

/* Add style to the class */

.first-row {
    background: #1F2937;
    display: flex;
    justify-content: center;
    height: 363px;
    align-items: center;
}

/* Add style to the class */

.hero {
    height: 230px;
    display: flex;
    width: 880px;
}

/* Add style to the class */

.text-button {
    flex: 1;
}

/* Add style to the type selector */

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    font-family: sans-serif;
}

/* Add style to the type selector */

p { 
    font-size: 18px;
    color: #e5e7eb;
}

/* Add style to the type selector */

button {
    color: white;
    background: #3882f6;
    border-radius: 8px;
    height: 37px;
    width: 105px;
    font-weight: bold;
    margin-top: 12px;
}

/* Add style to the class selector */

.placeholder {
    flex: 1;
    text-align: center;
    color: #e5e7eb;
    padding: 100px 0;
    background: rgba(128,128,128,0.6);
    font-family: sans-serif;
}

/* Add style to the class selector */

.second-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
}

/* Add style to the type selector */

h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #1f2937;
}

/* Add style to the class selector */

.image-box-group {
    display: flex;
    gap: 40px;
    justify-content: center;
    width: 710px;
}

/* Add style to the class selector */

.image-box {
    flex: 1;
}

/* Add style to the class selector */

.box {
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 5px;
    margin-bottom: 11px;
    width: 100%;
}

/* Add style to the class selector */

.subtext {
    text-align: center;
    font-size: 16px;
}

/* Add style to the class selector */

.third-row {
    background: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
}

/* Add style to the class selector */

.quote-container {
    width: 814px;
}

/* Add style to the type selector */

blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

/* Add style to the class selector */

.philosopher {
    font-weight: bold;
    width: 175px;
    margin-left: auto;
    color: black;
}