/* Add style to universal selector */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Add style to the type selector */

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    height: 100vh;
}

/* Add style to the class */

.nav {
    display: flex;
    justify-content: space-between;
    width: 880px;
}

/* Add style to the class */

.logo {   
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

/* Add style to the class */

.nav-right {
    display: flex;
    gap: 15px;
    width: 416px;
}

/* Add style to the class */

.link-text {
    font-size: 18px;
    color: #e5e7eb;
}

/* Add style to the class */

.first-row {
    background: #1F2937;
    display: flex;
    justify-content: center;
    height: 363px;
    align-items: center;
}

/* Add style to the class */

.hero {
    height: 240px;
    display: flex;
    width: 880px;
}

/* Add style to the class */

.text-button {
    flex: 1;
}

/* Add style to the type selector */

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    font-family: sans-serif;
    margin-bottom: 10px;
}

/* Add style to the type selector */

p { 
    font-size: 18px;
    color: #e5e7eb;
}

/* Add style to the type selector */

button {
    color: white;
    background: #3882f6;
    border-radius: 8px;
    height: 37px;
    width: 105px;
    font-weight: bold;
    margin-top: 12px;
    border: none;
}

/* Add style to the class selector */

.placeholder {
    flex: 1;
    text-align: center;
    color: #e5e7eb;
    padding: 110px 0;
    background: rgba(128,128,128,0.6);
    font-family: sans-serif;
}

/* Add style to the class selector */

.second-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
}

/* Add style to the type selector */

h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #1f2937;
}

/* Add style to the class selector */

.image-box-group {
    display: flex;
    gap: 40px;
    justify-content: center;
    width: 746px;
}

/* Add style to the class selector */

.image-box {
    flex: 1;
}

/* Add style to the class selector */

.box {
    height: 180px;
    border: 5px solid #3882f6;
    border-radius: 5px;
    margin-bottom: 11px;
}

/* Add style to the class selector */

.subtext {
    text-align: center;
    font-size: 16px;
}

/* Add style to the class selector */

.third-row {
    background: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
}

/* Add style to the class selector */

.quote-container {
    width: 820px;
}

/* Add style to the type selector */

blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

/* Add style to the class selector */

.philosopher {
    font-weight: bold;
    width: 195px;
    margin-left: auto;
    color: black;
}

/* Add style to the class selector */

.fourth-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

/* Add style to the class selector */

.call-to-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    /* padding: 25px 30px; */
    background: #3882f6;
    border-radius: 15px;
    width: 904px;
    /* gap: 100px; */
}

/* Add style to the class selector */

.call-to-action-text {
    width: 500px;
    color: black;
}

/* Add style to the descendant combinator */

.call-to-action-text h2 {
    color: white;
}

/* Add style to the class selector */

.call-to-action-btn {
    border: 2px solid white;
    width: 140px;
    font-weight: bolder;
    margin: 0
}

/* Add style to the grouping selectors */

.footer, .header {
    display: flex;
    background: #1F2937;
    height: 70px;
    justify-content: center;
    align-items: center;
}

/* Add style to the class selector */

.copyright {
    color:#e5e7eb;
    font-size: 18px; 
}